<body>
<div class="logogrid pt-4">
    <div class="alert alert-info" id="logocontain">
    <img src="../../../assets/dashboard-logo.png" alt="dashboard-logo">
    </div>
</div>
<div class="alert alert-info h-100 container-fluid pt-4" id="contain">
    <div class="pt-4 pb-4 row justify-content-md-center" id="buttonhold">
        <div class="pt-4 pb-4 col-align-self-center ">
            <button class="btn btn-outline-warning" routerLink="king"><b style ="font-family: fantasy;">YourGrace</b></button>
        </div>
    </div>
    <div class="pt-4 row justify-content-md-center" id="buttonhold">
        <div class="pt-4 pb-4 col-align-self-center ">
            <button class="btn btn-outline-warning" routerLink="knightSignin"><b style ="font-family: fantasy;">Mylord</b></button>
        </div>
    </div>
</div>
</body>